<form class="form-basic form-horizontal">
  <fieldset>
    <div class="input-group">
      <label for="comment-name" class="field-title">Name</label>
      <div class="field-content">
        <input id="comment-name" type="text" placeholder="Enter Your Name" />
      </div>
    </div>
    <div class="input-group">
      <label for="comment-email">Email</label>
      <input id="comment-email" class="field-content" type="email" placeholder="Your email address" />
    </div>
    <div class="input-group">
      <label for="comment-url">URL</label>
      <input id="comment-url" type="url" placeholder="Website if you got one" />
    </div>
    <div class="input-group">
      <label for="comment-field">Comment</label>
      <textarea id="comment-field" rows="5" placeholder="Write you comment here"></textarea>
    </div>
    <input type="submit" name="name" value="Submit">
  </fieldset>
</form>
