<ul class="sg-colors">
    <!--Blues-->
	<li>
		<span class="sg-swatch" style="background: #428bca;"></span>
		<span class="sg-label">#428bca</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5bc0de;"></span>
		<span class="sg-label">#5bc0de</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3b5998;"></span>
		<span class="sg-label">#3b5998</span>
	</li>

    <!--Greens-->
	<li>
		<span class="sg-swatch" style="background: #5cb85c;"></span>
		<span class="sg-label">#5cb85c</span>
	</li>

    <!--Reds-->
	<li>
		<span class="sg-swatch" style="background: #d9534f;"></span>
		<span class="sg-label">#d9534f</span>
	</li>

    <!--Yellows-->
	<li>
		<span class="sg-swatch" style="background: #f0ad4e;"></span>
		<span class="sg-label">#f0ad4e</span>
	</li>

    <!--Shades-->
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dddddd;"></span>
		<span class="sg-label">#dddddd</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #555555;"></span>
		<span class="sg-label">#555555</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>
