<p>Primary font: "Lato", Helvetica, Arial, sans-serif !default;</p>
<p><em>Primary font italic: "Lato", Helvetica, Arial, sans-serif !default;</em></p>
<p><strong>Primary font bold: "Lato", Helvetica, Arial, sans-serif !default;</strong></p>
<p class="font-secondary">Secondary font: Georgia, "Times New Roman", Times, serif !default;</p>
<p class="font-secondary"><em>Secondary font italic: Georgia, "Times New Roman", Times, serif !default;</em></p>
<p class="font-secondary"><strong>Secondary font bold: Georgia, "Times New Roman", Times, serif !default;</strong></p>
