.accordion {
  margin-bottom: 1rem;
}

.acc-handle {
  background: palette(gray, darker);
  color: palette(white);
  font-family: $font-family-secondary;
  font-weight: bold;
  display: block;
  position: relative;
  padding: 0.5rem;
  border-bottom: 1px solid palette(shade);
}
.acc-handle:after {
  content: "+";
  float: right;
}
.acc-handle:hover {
  color: white;
  background: palette(gray, dark);
}
.acc-handle.active {
  background: palette(gray, dark);
}
.acc-handle.active:after {
  content: "-";
}
